* {
    --title-bg-color: #467ad7ff;
    --menu-bg-color: #8fbc8fff;
    --footer-bg-color: #467ad7ff;
    --main-bg-color: #ffff;
    --picturemap-bg-color: #8fbc8fff;
    --picture-bg-color: #faebd7ff;
    --lines-bg-color: #ffff;
    --menu-li-text-color: #ff0f;
    --menu-li-bg-hover-color: #2bdd3eff;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
body {
    bottom: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
}

header {
    align-items: center;
    background-color: var(--title-bg-color);
    border: 1px solid;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 0 5%;
}

.content-block-1 {
    display: flex;
    flex: 5;
    flex-direction: row;
}

nav {
    align-items: center;
    background-color: var(--menu-bg-color);
    border: 1px solid;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding: 0;
    text-align: end;
}

.info-block-2 {
    display: flex;
    flex: 3;
    flex-direction: column;
}

footer {
    align-items: center;
    background-color: var(--footer-bg-color);
    border: 1px solid;
    display: flex;
    flex: 1;
    justify-content: space-between;
    order: 2;
    padding: 0 5%;
}

.text-img-3 {
    display: flex;
    flex: 4;
    flex-direction: row;
}

main {
    background-color: var(--main-bg-color);
    border: 1px solid;

    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.photo-4 {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.picturemap {
    align-items: center;
    background-color: var(--picturemap-bg-color);
    border: 1px solid;
    display: flex;
    flex: 1;
}

.picture {
    align-items: center;
    background-color: var(--picture-bg-color);
    border: 1px solid;
    display: flex;
    flex: 1;
}
h1 {
    align-items: center;
    background-color: var(--lines-bg-color);
    border: 1px solid;
    display: flex;
    flex: 1 2;
    justify-content: flex-end;

    max-width: 38%;
    min-height: 50%;
    padding: 3px;
}

h2 {
    align-items: center;
    background-color: var(--lines-bg-color);
    border: 1px solid;
    display: flex;
    flex: 1 2;
    justify-content: flex-end;
    max-width: 50%;
    min-height: 50%;
    padding: 3px;
}
nav > ul {
    padding: 2px;
    width: 100%;
}
nav > ul > li {
    height: 50px;
    list-style: none;
    outline: 1px solid;
    padding: 0;
    width: 100%;
}
nav a {
    color: var(--menu-li-text-color);
    display: block;
    font-size: 35px;
    height: 50px;
    outline: 1px solid;
    text-decoration: none;
    transition: 150ms all;
}
nav a:hover {
    background: var(--menu-li-bg-hover-color);
}
main > ol {
    align-items: center;
    display: flex;
    flex-direction: column;
}
main > ol > li {
    padding: 3px;
    width: fit-content;
}
main > p {
    margin-top: 1em;
}

main > ul {
    align-items: center;
    display: flex;
    flex-direction: column;
}
main > ul > li {
    padding: 3px;
    width: fit-content;
}
